@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap');

/* General Styles */
:root {
    --wisteria: #9b59b6;
    --purple: #8e44ad;
    --woodsmoke: #121214;
    --racing-green: #060A08;
    --shark: #29292e;
    --mischka: #e1e1e6;

    --gutter: 16px;
}

body {
    font-family: 'Poppins', sans-serif;
}

section {
    padding: var(--gutter);
    border-bottom: 1px solid var(--shark);
}

h2 {
    font-size: 24px;
    font-weight: 400;
}

p {
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: calc(var(--gutter)/2);
}

.container {
    max-width: 1120px;
    display: flex;
    justify-content: space-between;

    margin: 0 auto;
}

.center-flex {
    align-items: center;
}

.btn-register {
    color: var(--mischka);
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid var(--wisteria);
    border-radius: 8px;

    padding: var(--gutter);
    display: inline-block;

    transition: all .3s ease;
}

.btn-register:hover {
    background-color: var(--wisteria);
}

.btn-purple {
    background-color: var(--wisteria);
}

.btn-purple:hover {
    background-color: var(--purple);
}

.txt-purple {
    color: var(--wisteria);
}

.txt-thin {
    font-weight: 100;
}

/* Header */
header {
    background-color: var(--woodsmoke);
    border-bottom: 1px solid var(--shark);

    padding: var(--gutter);
}

.logo {
    font-size: 38px;
    color: var(--wisteria);
}

.logo span {
    font-size: 20px;
    color: var(--mischka);

    display: block;
}

/* Principal Banner */
.principal-banner {
    background: linear-gradient(270deg, var(--racing-green) 0%, var(--woodsmoke) 100%);
    color: var(--mischka);

    padding-bottom: 80px;

    display: flex;
    flex-direction: column;
}

.principal-banner h2 {
    margin: var(--gutter) 0;
}

.img-content {
    max-width: 266px;
    margin: 10px auto 0;
}

.img-content img {
    width: 100%;
}

.content {
    text-align: center;
}

.prerequisite {
    font-size: 14px;
    margin-bottom: 20px;
}
